body
{
	width:100%;
	font-size:0.8em;
	font-family:"Courier New";
}
p
{
	margin:0;
}
#head
{
	border-bottom:solid 2px black;
}
h1
{
	margin:0;padding:0;
	line-height:3em;
	font-size:1.5em;
}
h3
{
	margin:0;padding:0;
	margin-bottom:5px;
	margin-top:7px;
	font-size:1.2em;
	font-family:Arial;
	font-weight:bold;
}
#content
{
	width:100%;
}
#properties
{
	float:left;
	width:200px;
}
#code
{
	
	margin-left:201px;
	padding-left:5px;
	border-left:solid 2px black;
}

	